
@{
    ViewBag.Title = "Birthday";
}

<h2>Birthday</h2>

<html>
<head>
    <title>Jarig!</title>
</head>
<body>
<p>Hallo @ViewBag.Name</p>
<div>
    <img src="~/Content/birthday.jpg"/>
</div>

<p>Gefeliciteerd met je @ViewBag.Age e verjaardag!</p>

</body>
</html>