@model Birthday_Calculator.Models.BirthdayModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormPage</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Your Name: @Html.TextBoxFor(x => x.Name)</p>
        <p>Birthday Date:</p>
        <p>Date: @Html.TextBoxFor(x => x.Day)</p>
        <p>Month Name: @Html.TextBoxFor(x => x.Month)</p>
        <p>Year Name: @Html.TextBoxFor(x => x.Year)</p>
        <input type="submit" value="Bereken!"/>

    }
</body>
</html>
