@model Birthday_Calculator.Models.BirthdayModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormPage</title>
    
</head>
<body>

@using (Html.BeginForm())
{
    <label for="inputName">Your Name: </label>
    <input type="text" class="form-control" id="inputName" placeholder="Voer hier uw Naam in"/> @Html.TextBoxFor(x => x.Name)
    <div class="container-fluid">
    <div class="col-sm-12 col-xs-12">Birthday Date:</div>
    <div class="col-sm-12-col-xs-12">Date: @Html.TextBoxFor(x => x.Day)</div>
    <div class="col-sm-12 col-xs-12">Month Name: @Html.TextBoxFor(x => x.Month)</div>
    <div class="col-sm-12 col-xs-12">Year Name: @Html.TextBoxFor(x => x.Year)</div>
    <div class="col-sm-12 col-xs-12"><input type="submit" class="btn-default" value="Bereken!"/></div>
    </div>

}
</body>
</html>
