@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Birthday Calculator";
}

<div class="dateview col-md-12 col-xs-12">
    <div class="row">
    @ViewBag.Greeting;
        </div>
</div>

@Html.ActionLink("Bereken het aantal dagen tot mijn verjaardag", "FormPage");