@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartyInvites</title>
</head>
<body>
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <p>We're going to have an exiting party.</p>
            <img src="/Content/forever-alone-meme-generator-1-person-attending-my-awesome-party-on-fb-you-6d7fa9.jpg" />
        </div>
    </div>
    @Html.ActionLink("RSVP Now", "RsvpForm")
</body>
</html>
